//- Showcased sites are dynamically added from sites.json via Gulp
//- These sites are preconnected in the document head for faster load
section#projects
  h1 Projects
  each val in sites
    article.project
      figcaption.text
        //- NOTE: Pug 2 documentation incomplete re: $, #, `` use
        //- when attribute values are interpolated from external object
        a(href=`${val.url}` rel='noopener' target='_blank')
          h2 #{val.title}
        //- The ! prefix permits unescaped code interpolation
        p !{val.description}
      figure.thumbnail
        a(href=`${val.url}` rel='noopener' target='_blank')
          //- Images automatically resized in Gulp and used per media queries
          img(alt=`${val.title}` class='img-desktop' src=`${val.img_lg}` title=`${val.title}`)
          img(alt=`${val.title}` class='img-mobile' src=`${val.img_sm}` title=`${val.title}`)

