doctype html
html(lang='en-US')
  head
    meta(charset="UTF-8")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    //- Title
    title Charmed Tech | Creative, Full Stack Web Applications
    //- Metadata
    meta(name="author" content="CharmedSatyr")
    meta(name="description" content="Looking to hire a full stack JavaScript developer full time or for your next website? Check out CharmedSatyr's online portfolio and get in touch today!")
    meta(name="keywords" content="full stack developer, full stack, javascript, react, web developer, fullstack, portfolio")
    //- Favicon
    link(rel="shortcut icon" href="favicon.ico")
    //- Pre-inititate DNS, TCP, TLS connections for portfolio links
    each val in sites
      link(rel="dns-prefetch" href=`${val.url}`)
      link(rel="preconnect" href=`${val.url}`)
    //- Injected styles
    //- inject:css
    //- {{name}}:{{ext}}
    //- endinject
  body
    //- Fixed navbar with IDs used by scroll.js
    nav.navbar
      a(href='#home')
        span Home
      | &nbsp;
      a(href='#projects')
        span Projects
      | &nbsp;
      a(href='#about')
        span About
      | &nbsp;
      a(href='#contact')
        span Contact
    //- Message when JS is blocked
    noscript
      div#ns You'll be able to use most features without JavaScript, but please enable it to use the contact form.
    //- Landing view
    header#home
      div.contents
        div.satyr
          span.satyr-logo(aria-hidden='true')
        div.title Welcome to Charmed
          span.dot .
          | Tech
        hr
        div.subtitle Creative, Full Stack Web Applications
        hr
        //- Social media buttons
        div.buttons
          a(href='https://github.com/CharmedSatyr' rel='noopener' target='_blank')
            div
              span.fab.fa-github(aria-hidden='false' title='Read my code on GitHub')
          a(href='https://twitter.com/CharmedSatyr' rel='noopener' target='_blank')
            div
              span.fab.fa-twitter(aria-hidden='false' title='Tweet me @CharmedSatyr')
          a(href='https://social.nasqueron.org/@charmedsatyr' rel='noopener' target='_blank')
            div
              span.fab.fa-mastodon(aria-hidden='false' title='Toot me @CharmedSatyr@social.nasqueron.org')
          a(href='https://keybase.io/CharmedSatyr' rel='noopener' target='_blank')
            div
              span.fab.fa-keybase(aria-hidden='false' title='Check my Keybase proofs')
    main
      //- Showcased sites are dynamically added from sites.json via Gulp
      //- These sites are preconnected in the document head for faster load
      section#projects
        h1 Projects
        each val in sites
          article.project
            figcaption.text
              //- NOTE: Pug 2 documentation incomplete re: $, #, `` use
              //- when attribute values are interpolated from external object
              a(href=`${val.url}` rel='noopener' target='_blank')
                h2 #{val.title}
              //- The ! prefix permits unescaped code interpolation
              p !{val.description}
            figure.thumbnail
              a(href=`${val.url}` rel='noopener' target='_blank')
                //- Images automatically resized in Gulp and used per media queries
                img(alt=`${val.title}` class='img-desktop' src=`${val.img_lg}` title=`${val.title}`)
                img(alt=`${val.title}` class='img-mobile' src=`${val.img_sm}` title=`${val.title}`)
      //- About section - different format from projects
      section#about
        h1 About Me
        //- Pic + description takes the same style as a project for now
        article.bio
          figcaption.text
            h2 Call me CharmedSatyr
              | &nbsp;
              small (I'm lucky and free!)
            p I'm an American web developer currently based in
              | &nbsp;
              span.gold beautiful 
              | &nbsp;
              | Busan, South Korea. I am available as a
              | &nbsp;
              strong.green freelancer
              | &nbsp;
              | or to relocate
              | &nbsp;
              strong.green full time
              | . I love FOSS, civil liberties, and Cajun breakfasts with my hacker crew.
          figure.thumbnail
            a(href='#contact')
              img(alt='hackathon team photo' class='img-mobile' src='img/thumbs/google_entrepreneurs-sm.jpg' title="Let's team up!")
              img(alt='hackathon team photo' class='img-desktop' src='img/thumbs/google_entrepreneurs-lg.jpg' title="Let's team up!")
        h2 Skills
        article.skills
          p Learning and effectively deploying cutting-edge technologies is a passion of mine. I have earned
            | &nbsp;
            a(href='https://www.freecodecamp.org/CharmedSatyr/front-end-certification' rel='noopener' target='_blank')
              span Front End
            | &nbsp;
            | and
            | &nbsp;
            a(href='https://www.freecodecamp.org/CharmedSatyr/back-end-certification' rel='noopener' target='_blank')
              span Back End
            | &nbsp;
            | web development certifications and am fond of the MERN stack; preprocessors like Pug and SCSS; and tools like Git, Yarn, Gulp, and Webpack. I'm working to improve my knowledge of shell scripting and information security to ensure my applications protect users and clients. Need me to learn something new for a project? Just ask.
            div.devicons-section
              span.devicon-html5-plain-wordmark.colored(aria-hidden='false' title='HTML 5')
              span.devicon-css3-plain-wordmark.colored(aria-hidden='false' title='CSS 3')
              span.devicon-bootstrap-plain-wordmark.colored(aria-hidden='false' title='Bootstrap')
              span.devicon-sass-original.colored(aria-hidden='false' title='Sass/SCSS')
              span.devicon-javascript-plain.colored(aria-hidden='false' title='JavaScript ES5/6+')
              span.devicon-jquery-plain-wordmark.colored(aria-hidden='false' title='jQuery')
              span.devicon-gulp-plain.colored(aria-hidden='false' title='Gulp')
              span.devicon-babel-original.colored(aria-hidden='false' title='Babel')
              span.devicon-webpack-plain-wordmark.colored(aria-hidden='false' title='Webpack')
              span.devicon-react-plain-wordmark.colored(aria-hidden='false' title='React')
              span.devicon-nodejs-plain-wordmark.colored(aria-hidden='false' title='Node.js')
              span.devicon-yarn-plain-wordmark.colored(aria-hidden='false', title='Yarn')
              span.devicon-mongodb-plain-wordmark.colored(aria-hidden='false' title='MongoDB/Mongoose')
              span.devicon-express-original-wordmark.colored(aria-hidden='false' title='Express')
              span.devicon-git-plain-wordmark.colored(aria-hidden='false' title='Git')
              span.devicon-heroku-plain-wordmark.colored(aria-hidden='false' title='Heroku')
        h2 Development Environment
        article.environment
          a(href='https://www.debian.org' rel='noopener' target='_blank')
            img(alt='Debian logo' src='img/debian.png' title='Debian')
          a(href='https://github.com/robbyrussell/oh-my-zsh' rel='noopener' target='_blank')
            img(alt='Oh My Zsh logo' src='img/oh-my-zsh.png' title='Oh My Zsh')
          a.gnu(href='https://www.gnu.org/software/screen/' rel='noopener' target='_blank')
            img(alt='GNU logo' src='img/gerwinski-gnu-head.png' title='GNU Screen')
            | GNU Screen
          a(href='https://www.vim.org' rel='noopener' target='_blank')
            img(alt='Vim logo' src='img/vim-logo-en.png' title='Vim')
      //- Contact form
      section.contact#contact
        article.contents
          h3 Send me a message 
            span.fa.fa-send(aria-hidden='false')
          noscript#ns
            p This form won't work without JavaScript.
            p Email me: z [at] charmed.tech
            br
          p Let's work together!
          form(method="post" action="contact.php" id="contactForm")
            label(for='nameEntry') Name
              span.error *
              div#nameError.error
              input#nameEntry(type="text" name="nameEntry")
            br
            label(for='emailEntry') Email
              span.error *
              div#emailError.error
              input#emailEntry(type="text" name="emailEntry")
            br
            label(for='websiteEntry') Website
              div#websiteError.error
              input#websiteEntry(type="text" name="websiteEntry")
            br
            label(for='subjectEntry') Subject
              span.error *
              div#subjectError.error
              input#subjectEntry(type="text" name="subjectEntry")
            br
            label(for='messageEntry') Message
              span.error *
              div#messageError.error
              textarea#messageEntry(type="text" rows='4' name="messageEntry")
            br
            //- NOTE: This button does not have type="submit"
            //- Submission handled by contact.js validation
            div#submit.submit Submit
    //- Footer
    footer
      article Thank you
        | &nbsp;
        | for visiting my site!&nbsp;&nbsp;&nbsp;
        span.fa.fa-heart(aria-hidden='true')
          | &nbsp;&nbsp;&nbsp;
        | View this project on 
        | &nbsp;
        a.github(href='https://github.com/CharmedSatyr/charmed_tech' rel='noopener' target='_blank')
          span.github.fab.fa-github(aria-hidden='true')
          | &nbsp;
          | GitHub
        | &nbsp;&nbsp;&nbsp;
        span.fa.fa-bug(aria-hidden='true')
          | &nbsp;&nbsp;&nbsp;
        a(href='https://github.com/CharmedSatyr/charmed_tech/blob/master/LICENSE' rel='noopener' target='_blank') GNU General Public License v3.0
    //- Injected scripts
    //- inject:js
    //- {{name}}.{{ext}}
    //- endinject
