doctype html
html(lang='en-US')
  head
    meta(charset="UTF-8")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    //- Title
    title Charmed Tech | Available for Hire
    //- Metadata
    meta(name="author" content="CharmedSatyr")
    meta(name="description" content="Looking to hire a full stack JavaScript developer full time or for your next website? Check out CharmedSatyr's online portfolio and get in touch today!")
    meta(name="keywords" content="full stack developer, javascript, react, web developer, fullstack, portfolio")
    //- Favicon
    link(rel="shortcut icon" href="img/favicon.ico")
    //- Pre-inititate DNS, TCP, TLS connections for portfolio links
    each val in sites
      link(rel="preconnect" href=`${val.url}`)
    //- Injected styles
    //- inject:css
    //- {{name}}:{{ext}}
    //- endinject
  body
    //- Fixed navbar
    nav.navbar
      a(href='#home')
        span Home
      | &nbsp;
      a(href='#projects')
        span Projects
      | &nbsp;
      a(href='#about')
        span About
      | &nbsp;
      a(href='#contact')
        span Contact
    //- Message when JS is blocked
    noscript
      div#ns You'll be able to see most of this site without JavaScript, but please enable it to use the contact form.
    //- Landing view
    header#home.top-section
      div.contents
        div.sub-title Welcome to
        div.main-title
          span.charmed Charmed
          br
          span.tech Tech
        br
        //- Social media buttons
        div.buttons
          a(href='https://github.com/CharmedSatyr' rel='noopener' target='_blank')
            div
              i.fa.fa-github(aria-hidden: 'false' title='Read my code on GitHub')
          a(href='https://twitter.com/CharmedSatyr' rel='noopener' target='_blank')
            div
              i.fa.fa-twitter(aria-hidden: 'false' title='Tweet me @CharmedSatyr')
          a(href='https://keybase.io/CharmedSatyr' rel='noopener' target='_blank')
            div.circle
              img.keybase(src='../img/ms-icon-310x310.png' title='See my Keybase.io proofs' alt='Keybase.io icon')
    main.middle-section
      //- Showcased sites are dynamically added from sites.json via Gulp
      //- These sites are preconnected in the document head for faster load
      section#projects
        h2.heading Recent Projects
        each val in sites
          article#project
            figcaption.text
              //- NOTE: Pug 2 documentation incomplete re: $, #, `` use
              //- when attribute values are interpolated from external object
              a(href=`${val.url}` rel='noopener' target='_blank')
                h2 #{val.title}
              //- The ! prefix permits unescaped code interpolation
              p !{val.description}
            figure.thumbnail
              a(href=`${val.url}` rel='noopener' target='_blank')
                //- Images automatically resized in Gulp and used per media queries
                img(alt=`${val.title}` class='img-desktop' src=`${val.img_lg}` title=`${val.title}`)
                img(alt=`${val.title}` class='img-mobile' src=`${val.img_sm}` title=`${val.title}`)
      //- About section - different format from projects
      section#about
        h2.heading About Me
        //- Pic + description takes the same style as a project for now
        article#project
          figcaption.text
            h2 Call me CharmedSatyr...
            p I'm a self-taught JavaScript developer currently living in Busan, South Korea. My first Hackathon was a Google Startup Weekend, and my team won First Prize! Check out my
              | &nbsp;
              a(href='https://charmedsatyr.com' rel='noopener' target='_blank')
                span development site
              | &nbsp;
              | to see other projects I've worked on, read my code on
              | &nbsp;
              a(href='https://github.com' rel='noopener' target='_blank')
                span GitHub
              | , or follow me on
              | &nbsp;
              a(href='https://github.com' rel='noopener' target='_blank')
                span Twitter
              | &nbsp;
              | to see what I'm up to now.
          figure.thumbnail
            a(href='#contact')
              img(alt='hackathon team photo' class='img-mobile' src='img/thumbs/google_entrepreneurs-sm.jpg' title="Let's team up!")
              img(alt='hackathon team photo' class='img-desktop' src='img/thumbs/google_entrepreneurs-lg.jpg' title="Let's team up!")
        h2(style='text-align: center; order: 1;') Skills
        article.skills
          div
            h4 Front End
            p HTML5, Pug, CSS3, SASS/SCSS, JavaScript (ES5/6+), jQuery, React
          div
            h4 Back End
            p Node, Express, MongoDB, Mongoose, Mustache, Socket.io, bcrypt, Passport
          div
            h4 Tools
            p npm, Yarn, Git, Babel, Gulp, Webpack, Jest
          div
            h4 I also like learning about...
            p bash/zsh scripting, privacy, and information security
        h2(style='text-align: center') Development Environment
        article.logos
          a(href='https://www.debian.org' rel='noopener' target='_blank')
            img(alt='Debian logo' src='img/debian.png' title='Debian')
          a(href='https://github.com/robbyrussell/oh-my-zsh' rel='noopener' target='_blank')
            img(alt='Oh My Zsh logo' src='img/oh-my-zsh.png' title='Oh My Zsh')
          a.gnu(href='https://www.gnu.org/software/screen/' rel='noopener' target='_blank')
            img(alt='GNU logo' src='img/gerwinski-gnu-head.png' title='GNU Screen')
            | GNU Screen
          a(href='https://www.vim.org' rel='noopener' target='_blank')
            img(alt='Vim logo' src='img/vim-logo-en.png' title='Vim')
    //- Contact form
    section.bottom-section#contact
      article.contents
        h3 Send me a message 
          i.fa.fa-send
        form(method="post" action="contact.php" id="contactForm")
          label(for='nameEntry') Name
            span.error *
            div#nameError.error
            input#nameEntry(type="text" name="nameEntry")
          br
          label(for='emailEntry') Email
            span.error *
            div#emailError.error
            input#emailEntry(type="text" name="emailEntry")
          br
          label(for='websiteEntry') Website
            div#websiteError.error
            input#websiteEntry(type="text" name="websiteEntry")
          br
          label(for='subjectEntry') Subject
            span.error *
            div#subjectError.error
            input#subjectEntry(type="text" name="subjectEntry")
          br
          label(for='messageEntry') Message
            span.error *
            div#messageError.error
            textarea#messageEntry(type="text" rows='4' name="messageEntry")
          br
          //- NOTE: This button does not have type="submit"
          //- Submission handled by contact.js validation
          button#submit(type="submit" value="Submit" class='submit') Submit
    //- Footer
    footer
      article Thank you
        | &nbsp;
        | for visiting my site!&nbsp;&nbsp;&nbsp;
        i.fa.fa-heart(aria-hidden: 'true')
          | &nbsp;&nbsp;&nbsp;
        | View this project on 
        | &nbsp;
        a.github(href='https://github.com/CharmedSatyr/charmed_tech' rel='nofollow' target='_blank')
          i.github.fa.fa-github(aria-hidden: 'true')
          | &nbsp;
          | GitHub
        | &nbsp;&nbsp;&nbsp;
        i.fa.fa-bug(aria-hidden: 'true')
          | &nbsp;&nbsp;&nbsp;
        a(href='https://github.com/CharmedSatyr/charmed_tech/blob/master/LICENSE' rel='nofollow' target='_blank') GNU General Public License v3.0
    //- Injected scripts
    //- inject:js
    //- {{name}}.{{ext}}
    //- endinject
