doctype html
html(lang='en')
    head
        meta(charset="UTF-8", name='viewport', content='width=device-width, initial-scale=1', title='Charmed Tech')
        //- inject:css
        //- {{name}}:{{ext}}
        //- endinject
    body
        div.navbar
            a(href='#home') Home
            span &nbsp;
            a(href='#projects') Projects
            span &nbsp;
            a(href='#contact') Contact
        noscript
            div#ns Please enable Javascript. This site will not function properly without it.
        div#home.top-section
            div.contents
                div.sub-title Welcome to
                div.main-title
                    span.charmed Charmed
                    br
                    span.tech Tech
                br
                div.buttons
                    a(href='https://github.com/CharmedSatyr')
                        i.fa.fa-github(aria-hidden: 'false' title='Read my code on GitHub!')
                    a(href='https://twitter.com/CharmedSatyr')
                        i.fa.fa-twitter(aria-hidden: 'false' title='Tweet me @CharmedSatyr')
        div#projects.middle-section
            each val in sites
                div#container
                    div.text
                        a(href=`${val.url}`)
                            h2 #{val.title}
                        p #{val.description}
                    div.thumbnail
                        a(href=`${val.url}`)
                            img(src=`${val.img}`)
        // Contact
        div.bottom-section#contact
            div.contents
                h3 Send me a message 
                    i.fa.fa-send
                div
                    form(method="post" action="contact.php")
                        div Name
                            span.error *
                        div#nameError.error
                        input#nameEntry(type="text" name="nameEntry")
                        div Email
                            span.error *
                        div#emailError.error
                        input#emailEntry(type="text" name="emailEntry")
                        div Website
                        div#websiteError.error
                        input#websiteEntry(type="text" name="websiteEntry")
                        div Subject
                            span.error *
                        div#subjectError.error
                        input#subjectEntry(type="text" name="subjectEntry")
                        div Message
                            span.error *
                        div#messageError.error
                        textarea#messageEntry(type="text" rows='8' name="messageEntry")
                        br
                        div#submit(type="submit" value="Submit" class='submit') Submit
                        input#submitReal(type="submit" value="Real")
        //- inject:js
        //- {{name}}.{{ext}}
        //- endinject
