doctype html
html
  head
    meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1', title: 'Charmed Tech')
    //- inject:css
    //- {{name}}:{{ext}}
    //- endinject
  body
    div.navbar
    div#home.top-section
      div.contents
        div.main-title
          span.tech #{thanksTop}#{missingTop}#{fiveOhOneTop}
          br
          span.charmed
        div.sub-title #{thanksSub}#{missingSub}#{fiveOhOneSub}
        div.buttons
          a(href='https://github.com/CharmedSatyr' target='_blank')
            i.fa.fa-github(aria-hidden='false' title='Read my code on GitHub!')
          a(href='https://twitter.com/CharmedSatyr')
            i.fa.fa-twitter(aria-hidden='false' title='Tweet me @CharmedSatyr')

