doctype html
html
  head
    meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1', title: 'Charmed Tech')
    //- inject:css
    //- {{name}}:{{ext}}
    //- endinject
  body
    div#home
      div.contents
        div.satyr
          span.satyr-logo(aria-hidden: 'true')
        div.title #{thanksTop}#{missingTop}#{fiveOhOneTop}
        hr
        div.subtitle #{thanksSub}#{missingSub}#{fiveOhOneSub}
        hr
        //- Social media buttons
        div.buttons
          a(href='https://github.com/CharmedSatyr' rel='noopener' target='_blank')
            div
              span.fab.fa-github(aria-hidden='false' title='Read my code on GitHub')
          a(href='https://twitter.com/CharmedSatyr' rel='noopener' target='_blank')
            div
              span.fab.fa-twitter(aria-hidden='false' title='Tweet me @CharmedSatyr')
          a(href='https://social.nasqueron.org/@charmedsatyr' rel='noopener' target='_blank')
            div
              span.fab.fa-mastodon(aria-hidden='false' title='Toot me @CharmedSatyr@social.nasqueron.org')
          a(href='https://keybase.io/CharmedSatyr' rel='noopener' target='_blank')
            div
              span.fab.fa-keybase(aria-hidden='false' title='Check my Keybase proofs')
