doctype html
html
  head
    //- Metadata
    include includes/meta.pug
    //- inject:css
    //- {{name}}:{{ext}}
    //- endinject
  body
    div#home
      div.contents
        div.satyr
          span.satyr-logo(aria-hidden: 'true')
        div.title #{thanksTop}#{missingTop}#{fiveOhOneTop}
        hr
        div.subtitle #{thanksSub}#{missingSub}#{fiveOhOneSub}
        hr
        //- Social media buttons
        include includes/social.pug

